{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
  <h1>Log In</h1>

  <form method="POST" action="{{ url_for('main.login') }}">
    {{ form.csrf_token }}
    
    <label for="email">{{ form.email.label }}</label>
    {{ form.email(class="input-box") }}<br>

    <label for="password">{{ form.password.label }}</label>
    {{ form.password(class="input-box") }}

    <div>
      {{ form.remember(class="form-check-input", id="remember") }}
      <label for="remember" class="form-check-label">{{ form.remember.label }}</label>
    </div>

    {{ form.submit(class="input-box") }}
  </form>

  <p class="mt-2">
    Don't have an account?
    <a href="{{ url_for('main.register') }}">Register here</a>
  </p>

  <!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
      {% for category, message in messages %}
        <li class="flash-{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %} -->
{% endblock %}
